.intro {
  flex-direction: column;
}

.intro > :first-child,
.intro > :last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro h1 {
  min-width: 26rem;
  max-width: 26rem;
}

.eng .intro h1 {
  min-width: 16rem;
  max-width: 16rem;
}
