.intro {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-text {
  display: grid;
  place-items: center;
}

.intro-text > :first-child,
.intro-text > :last-child {
  grid-area: 1 / 1;
}

.eng .intro-text > :first-child {
  min-width: 16rem;
  max-width: 16rem;
}

.intro-text > :first-child {
  min-width: 26rem;
  max-width: 26rem;
}
