.arrow {
  position: relative;
  top: 9rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-line {
  width: 1.5px;
  height: 285px;
  background: currentColor;
}

.arrow-head {
  display: flex;
  justify-content: flex;
}

.arrow-head span {
  width: 10px;
  height: 1.5px;
  background-color: currentColor;
}

.arrow-head span:first-child {
  transform: rotate(55deg);
  transform-origin: right;
}

.arrow-head span:last-child {
  transform: rotate(-55deg);
  transform-origin: left;
}
